
  <h2>Welcome to the Bookers App</h2>

  <p>In Bookers,<br>

you can share and exchange your opinions , inpressions , and emotions

about various books!</p>


  <%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-primary col-xs-10" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-success col-xs-10" %>